__pycache__/
.vs/
build/
Config/
dist/
Excel Updater/
Executables/
images/
OLD Versions/
Other/
PublicFolderSearcher/
TCALT NEW/
Yeti/
*.c
*.h
*.html
*.pyc
ai.py
app_paths.py
db_params.py
db_reader.py
fe_lookup.py
helper_functions.py
loader.py
log_params.py
NoDeduction*.py
property_check.py
public_folder_searcher.py
secrets_keychain.py
settings_json.py
*.spec
TCALT.py
*.log
version.txt